# I. Questions Théoriques

1  
Une liste est une collection ordonnée et modifiable   
Un tuple est une collection ordonnée mais non modifiable  
Un dictionnaire est une collection non ordonnée de paires clé-valeur

2  
Une liste peut etre modifiee mais pas un tuple  
Ex

In [1]:
# Liste mutable
lst = [1, 2, 3]
lst[0] = 10 

# Tuple immuable
tpl = (1, 2, 3)
tpl[0] = 10

TypeError: 'tuple' object does not support item assignment

3  
il est preferable d'utiliser un tuple plutot qu'une liste lorsque les donees ne doivent pas etre modifiees, ou aussi comme cle d'un dictionnaire

4  
l'indexation permet d’accéder aux éléments d’une liste via leur position  
Python commence a partir de 0 car Python suit la convention d'indexation de base zéro,c'est a dire que l’adresse du premier élément est un décalage de 0 par rapport au début du tableau

In [2]:
#5#  
 #Pour ajouter
lst = [1, 2, 3]
lst.append(4)  
lst.insert(1, 10) 

# pour supprimer
lst.remove(2)  
lst.pop(0) 
del lst[1]

In [4]:
#6#
d = {"nom": "Alice", "âge": 25}
d.keys()     # Liste des clés
d.values()   # Liste des valeurs
d.items()    # Liste des paires clé-valeur
d.get("nom") # Récupérer une valeur sans erreur si la clé n'existe pas
d.pop("âge") # Supprimer une clé et retourner sa valeur
d.update({"ville": "Paris"})  # Ajouter ou mettre à jour une clé

In [5]:
#7#
d = {"nom": "Alice"}
print(d["âge"])  

# pour eviter une erreur, on peut utiliser get()
print(d.get("âge", "Inconnu"))

KeyError: 'âge'

8  
Avant Python 3.7, les dictionnaires ne garantissaient pas l’ordre des éléments  
Mais depuis la version 3.7 de Python, les dictionnaires sont ordonnés, modifiable et qui ne permet pas les doublons

9  
Une clé est unique et permet d’identifier une valeur alors qu'une valeur est l’information stockée associée à une clé

In [6]:
#10#
utilisateur = {
    "nom": "Alice",
    "âge": 25,
    "email": "alice@example.com"
}
#pour afficher l'email de l'utilisateur
print(utilisateur["email"])

alice@example.com

# II. Exercices sur les Listes

In [8]:
#1#
pays = ["Benin", "Cote d'Ivoire", "Ghana", "Nigeria", "Togo"]
print(pays)

['Benin', "Cote d'Ivoire", 'Ghana', 'Nigeria', 'Togo']

In [9]:
#2#
print(pays[2])

Ghana

In [10]:
#3#
pays[1] = "Sénégal"

In [13]:
#4#
pays.append("Mali")
print(pays)

['Benin', 'Sénégal', 'Ghana', 'Nigeria', 'Togo', 'Mali', 'Mali', 'Mali']

In [17]:
#5#
pays.pop()
print(pays)

['Benin', 'Sénégal', 'Ghana', 'Nigeria', 'Togo']

In [19]:
#6#
message = "Present" if "Maroc" in pays else "Absent"
print(message)

Absent

In [20]:
#7#
print(pays.index("Sénégal"))

1

In [21]:
#8#
print(len(pays))

5

In [33]:
#9#
numbers = [5, 30, 2020, 99, 123]
print(sum(numbers))

2277

In [35]:
#10#
list1 = [1, 2, 3]
list2 = [4, 5, 6]
fusion = list1 + list2
print(fusion)

[1, 2, 3, 4, 5, 6]

In [37]:
11
phrase = "python is fun to learn"
mots = phrase.split()
print(mots)

['python', 'is', 'fun', 'to', 'learn']

In [38]:
12
number = [5, 30, 2020,2020, 99, 123, 123]
unique = list(set(number))
print(unique)

[99, 2020, 5, 123, 30]

In [40]:
13
pays[:3]

['Benin', 'Sénégal', 'Ghana']

In [41]:
14
pays[::-1]

['Togo', 'Nigeria', 'Ghana', 'Sénégal', 'Benin']

In [42]:
15
PAYS = [p.upper() for p in pays]
print(PAYS)

['BENIN', 'SÉNÉGAL', 'GHANA', 'NIGERIA', 'TOGO']

In [43]:
16 
max(numbers)

2020

In [45]:
17
chiffres = [1, 2, 3, 4]
chain = "".join(map(str, chiffres))
chain

'1234'

In [47]:
18
pair = [n for n in numbers if n % 2 == 0]
pair

[30, 2020]

In [49]:
19
sous_liste = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(sous_liste[1][1])

5

In [50]:
20
listee = [1, 2, 3, 4, 5]
del listee[:]
print(listee)

[]

In [ ]:
21
unique = list((set(L))

In [52]:
22
liste1 = [1, 2, 3, 4, 5]
liste2 = [3, 4, 5, 6, 7]
diff = list(set(liste1) - set(liste2))
print(diff)

[1, 2]

In [54]:
23
Tpl = tuple(PAYS)
print(Tpl)

('BENIN', 'SÉNÉGAL', 'GHANA', 'NIGERIA', 'TOGO')

In [55]:
24
import random
list_random = [random.randint(1, 100) for _ in range(10)]
print(list_random)

[87, 7, 42, 48, 78, 39, 59, 98, 44, 70]

In [56]:
25
import numpy as np
nombr = [10, 11, 12, 13, 14]
result = np.array(nombr) * 2
print(result)

[20 22 24 26 28]

In [57]:
26
liste = [1, None, 2, None, 3]

liste_filtre = [x for x in liste if x is not None]

print(liste_filtre)

[1, 2, 3]

In [60]:
27
def diviser_liste(lst, taille):
    return [lst[i:i + taille] for i in range(0, len(lst), taille)]

liste = [1, 2, 3, 4, 5, 6]
sous_listes = diviser_liste(liste, 2)
print(sous_liste)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [61]:
28
liste1 = [1, 3, 5]
liste2 = [2, 4, 6]
fusion = [val for pair in zip(liste1, liste2) for val in pair]
print(fusion)

[1, 2, 3, 4, 5, 6]

In [62]:
29
cles = ["nom", "age", "ville"]
valeurs = ["Alice", 25, "Paris"]
Dico = dict(zip(cles, valeurs))
print(Dico)

{'nom': 'Alice', 'age': 25, 'ville': 'Paris'}

In [63]:
30
liste1 = [1, 2, 3, 4, 5]
liste2 = [3, 4, 5, 6, 7]
communs = list(set(liste1) & set(liste2))
print(communs)

[3, 4, 5]

# III. Exercices sur les Tuples

In [22]:
#1#
nombres = (5, 30, 2020, 99, 123)

In [23]:
#2#
print(nombres[2])

2020

In [ ]:
#3#
liste = list(nombres)
liste[1] = 50
nombres = tuple(liste)

In [24]:
#4#
print(30 in nombres)
print(7 in nombres)

True
False

In [26]:
#5#
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatene = tuple1 + tuple2
print(concatene)

(1, 2, 3, 4, 5, 6)

In [27]:
#6#
sub_nombre = nombres[1:4]
print(sub_nombre)

(30, 2020, 99)

In [28]:
#7#
print(len(nombres))

5

In [29]:
#8#
print(nombres.index(99))

3

In [32]:
#9#
chaine = ", ".join(map(str, nombres))
chaine

'5, 30, 2020, 99, 123'

10  
Les tuples sont immuables, ce qui empeche toute modification accidentelle des donnees. Ils sont plus rapide que les listes et preservent l'integrite des donnees

# IV. Exercices sur les Dictionnaires

In [65]:
1
User = {"nom": "Alice",
            "âge": 25, 
            "ville": "Cotonou"}

In [66]:
2
print(User["âge"])

25

In [67]:
3
User["profession"] = "Lawyer"

In [69]:
4
User["ville"] = "Porto-Novo"
print(User)

{'nom': 'Alice', 'âge': 25, 'ville': 'Porto-Novo', 'profession': 'Lawyer'}

In [70]:
5
del User["âge"]

In [71]:
6
print("nom" in User)
print("salaire" in User)

True
False

In [72]:
7
print(User.keys())

dict_keys(['nom', 'ville', 'profession'])

In [73]:
8
print(User.values())

dict_values(['Alice', 'Porto-Novo', 'Lawyer'])

In [76]:
9
tuple = list(User.items())
print(tuple)

[('nom', 'Alice'), ('ville', 'Porto-Novo'), ('profession', 'Lawyer')]
list[dict_items([('nom', 'Alice'), ('ville', 'Porto-Novo'), ('profession', 'Lawyer')])]

In [77]:
10
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
fusion = {**dict1, **dict2}
print(fusion)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [78]:
11
capitales = {"Benin": "Porto-Novo", "Italie": "Rome", "Japon": "Tokyo", "Nigeria":"Abuja"}

In [79]:
12
print(capitales["Nigeria"])

Abuja

In [80]:
13
capitales["Benin"]="Cotonou"

In [83]:
14
capitale_inverse = {v: k for k, v in capitales.items()}
print(capitale_inverse)

{'Cotonou': 'Benin', 'Rome': 'Italie', 'Tokyo': 'Japon', 'Abuja': 'Nigeria'}

In [84]:
15
cles = ["mango", "banana", "citron"]
valeurs = [1, 2, 3]
dictionnaire = dict(zip(cles, valeurs))
print(dictionnaire)

{'mango': 1, 'banana': 2, 'citron': 3}

In [86]:
16
keys_rest = {"nom", "ville"}
filtre = {k: v for k, v in User.items() if k in keys_rest}
print(filtre)

{'nom': 'Alice', 'ville': 'Porto-Novo'}

In [92]:
17
User.pop("salaire", None)
User.pop("ville", None)

In [93]:
18
for k, v in User.items():
    print(f"{k}: {v}")

nom: Alice
profession: Lawyer

In [94]:
19
print(sum(fusion.values()))

10

In [96]:
20
max_key = max(fusion, key=fusion.get)
print(max_key)

d

In [105]:
21
Students = {
    "Lola": {"âge": 19, "ville": "Cotonou"},
    "Ned": {"âge": 22, "ville": "Accra"}
}
print(Students)

{'Lola': {'âge': 19, 'ville': 'Cotonou'}, 'Ned': {'âge': 22, 'ville': 'Accra'}}

In [99]:
22
print(Students["Lola"]["ville"])

Cotonou

In [106]:
23
del Students["Ned"]["âge"]
print(Students)

{'Lola': {'âge': 19, 'ville': 'Cotonou'}, 'Ned': {'ville': 'Accra'}}

In [109]:
24
dict_1 = {"a": 1, "b": 2, "x":28}
dict_2 = {"c": 3, "d": 4, "y":14}
print(dict_1.update(dict_2))

None

In [110]:
25
tri_cles = dict(sorted(fusion.items()))
print(tri_cles)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [111]:
26
tri_val = dict(sorted(fusion.items(), key=lambda x: x[1]))
print(tri_val)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [114]:
27
import json
json_new = json.dumps(User, indent=4)
print(json_new)

{
    "nom": "Alice",
    "profession": "Lawyer"
}

In [115]:
28
from collections import Counter
lyste = ["pomme", "banane", "pomme", "orange"]
occurrences = dict(Counter(lyste))
print(occurrences)

{'pomme': 2, 'banane': 1, 'orange': 1}

In [116]:
29
for k, v in User.items():
    print(f"| {k:<10} | {v:<10} |")

| nom        | Alice      |
| profession | Lawyer     |

In [117]:
30
inventaire = {
    "Pommes": {"quantité": 50, "prix": 1.2},
    "Bananes": {"quantité": 30, "prix": 0.8},
    "Oranges": {"quantité": 20, "prix": 1.5}
}
print(inventaire)

{'Pommes': {'quantité': 50, 'prix': 1.2}, 'Bananes': {'quantité': 30, 'prix': 0.8}, 'Oranges': {'quantité': 20, 'prix': 1.5}}